flows/flows.json
[
    {
        "id": "3f20528a8d718270",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c87be7c6b459b35e",
        "type": "tab",
        "label": "Fitbit Data flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ba4e7447d177c6e",
        "type": "tab",
        "label": "Wemo Test Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "421506f464550bd2",
        "type": "tab",
        "label": "Decision Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "33aa24559e6c3e4c",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "164809fc5ff45477",
        "type": "subflow",
        "name": "Subflow 2",
        "info": "",
        "in": [
            {
                "x": 0,
                "y": 80,
                "wires": [
                    {
                        "id": "21c35318e86fd136"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 860,
                "y": 80,
                "wires": [
                    {
                        "id": "aeaff6f2d37ba0dd",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "91dd09cbaf5ef4b1",
        "type": "json-db-collection",
        "name": "Fitbit Data",
        "collection": "fitbit",
        "save": true
    },
    {
        "id": "ea2b7e9ceba3bcf4",
        "type": "wemo-dev",
        "device": "M1CAB133D11054",
        "name": "Concordia"
    },
    {
        "id": "7e69d593140ccb80",
        "type": "http in",
        "z": "33aa24559e6c3e4c",
        "name": "[POST] Input data from fitbit watch",
        "url": "/fitbit",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 80,
        "wires": [
            [
                "78ab0cecdc4cfcc7"
            ]
        ]
    },
    {
        "id": "6d801e58daea5db9",
        "type": "db",
        "z": "33aa24559e6c3e4c",
        "name": "Check if we have the last fitbit data in db",
        "method": "has",
        "key": "payload.lastFitbitInputDate",
        "keytype": "msg",
        "data": "value",
        "datatype": "msg",
        "file": "db.json",
        "x": 1180,
        "y": 180,
        "wires": [
            [
                "7038e88c1e53057b"
            ]
        ]
    },
    {
        "id": "74f71feccda72254",
        "type": "switch",
        "z": "33aa24559e6c3e4c",
        "name": "If there is last fitbit data in db",
        "property": "payload.data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 560,
        "y": 280,
        "wires": [
            [
                "11a3ccb54de6c582"
            ],
            [
                "0374dbb7b546f097"
            ]
        ]
    },
    {
        "id": "7e47bc4b2983c043",
        "type": "db",
        "z": "33aa24559e6c3e4c",
        "name": "Get fitbit last data",
        "method": "get",
        "key": "payload.lastFitbitInputDate",
        "keytype": "msg",
        "data": "value",
        "datatype": "msg",
        "file": "db.json",
        "x": 990,
        "y": 260,
        "wires": [
            [
                "e030a9d0c74ec9d0"
            ]
        ]
    },
    {
        "id": "0374dbb7b546f097",
        "type": "change",
        "z": "33aa24559e6c3e4c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.data",
                "pt": "msg",
                "to": "{\"status\":\"\",\"location\":{\"latitude\":\"\",\"longitude\":\"\"},\"presence\":false,\"acceleration\":{\"x\":\"\",\"y\":\"\",\"z\":\"\"},\"lastSyncTime\":\"\",\"heartRate\":\"\",\"batteryLevel\":\"\",\"charge\":\"\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 320,
        "wires": [
            [
                "e030a9d0c74ec9d0"
            ]
        ]
    },
    {
        "id": "e030a9d0c74ec9d0",
        "type": "function",
        "z": "33aa24559e6c3e4c",
        "name": "Fitbit Data Aggregation",
        "func": "let input = msg.payload.input;\nlet data = msg.payload.data;\n\nif (input.hasOwnProperty(\"status\")) {\n    data.status = input.status;\n} else if (input.hasOwnProperty(\"location\")) {\n    data.location.latitude = input.location.latitude;\n    data.location.longitude = input.location.longitude;\n} else if (input.hasOwnProperty(\"presence\")) {\n    data.presence = input.presence;\n} else if (input.hasOwnProperty(\"acceleration\")) {\n    data.acceleration.x = input.acceleration.x;\n    data.acceleration.y = input.acceleration.y;\n    data.acceleration.z = input.acceleration.z;\n} else if (input.hasOwnProperty(\"lastSyncTime\")) {\n    data.lastSyncTime = input.lastSyncTime;\n} else if (input.hasOwnProperty(\"heartRate\")) {\n    data.heartRate = input.heartRate;\n} else if (input.hasOwnProperty(\"batteryLevel\")) {\n    data.batteryLevel = input.batteryLevel;\n} else if (input.hasOwnProperty(\"charge\")) {\n    data.charge = input.charge;\n}\n\ndata.timestamp = msg.payload.time;\nmsg.payload.data = data; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 280,
        "wires": [
            [
                "3ce56657d898b81b"
            ]
        ]
    },
    {
        "id": "a59f4c551ed8d95e",
        "type": "db",
        "z": "33aa24559e6c3e4c",
        "name": "Push last fitbit input date",
        "method": "set",
        "key": "lastFitbitInputDate",
        "keytype": "str",
        "data": "payload.time",
        "datatype": "msg",
        "file": "db.json",
        "x": 1050,
        "y": 400,
        "wires": [
            [
                "f895302750896421"
            ]
        ]
    },
    {
        "id": "1208df90d7d0a015",
        "type": "db",
        "z": "33aa24559e6c3e4c",
        "name": "Get fitbit last input date",
        "method": "get",
        "key": "lastFitbitInputDate",
        "keytype": "str",
        "data": "value",
        "datatype": "msg",
        "file": "db.json",
        "x": 540,
        "y": 180,
        "wires": [
            [
                "f68fa2114ac0baf5"
            ]
        ]
    },
    {
        "id": "b52b1f6fedbe3919",
        "type": "catch",
        "z": "33aa24559e6c3e4c",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 200,
        "y": 460,
        "wires": [
            [
                "6bae8cfc4b17871f"
            ]
        ]
    },
    {
        "id": "6bae8cfc4b17871f",
        "type": "debug",
        "z": "33aa24559e6c3e4c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 460,
        "wires": []
    },
    {
        "id": "3ce56657d898b81b",
        "type": "function",
        "z": "33aa24559e6c3e4c",
        "name": "Build db key",
        "func": "msg.payload.key = \"fitbit-\" + msg.payload.time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 280,
        "wires": [
            [
                "d2322a9aaaadb330"
            ]
        ]
    },
    {
        "id": "d2322a9aaaadb330",
        "type": "db",
        "z": "33aa24559e6c3e4c",
        "name": "Push data to db",
        "method": "set",
        "key": "payload.key",
        "keytype": "msg",
        "data": "payload.data",
        "datatype": "msg",
        "file": "db.json",
        "x": 800,
        "y": 400,
        "wires": [
            [
                "a59f4c551ed8d95e"
            ]
        ]
    },
    {
        "id": "f895302750896421",
        "type": "template",
        "z": "33aa24559e6c3e4c",
        "name": "Build response",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"received\": \"true\"\n}",
        "output": "json",
        "x": 1300,
        "y": 400,
        "wires": [
            [
                "371685ee4aca4a96",
                "e7ed3e37ad241d16"
            ]
        ]
    },
    {
        "id": "371685ee4aca4a96",
        "type": "http response",
        "z": "33aa24559e6c3e4c",
        "name": "Response to fitbit data",
        "statusCode": "200",
        "headers": {},
        "x": 1540,
        "y": 400,
        "wires": []
    },
    {
        "id": "78ab0cecdc4cfcc7",
        "type": "change",
        "z": "33aa24559e6c3e4c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.input",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "1208df90d7d0a015"
            ]
        ]
    },
    {
        "id": "f68fa2114ac0baf5",
        "type": "change",
        "z": "33aa24559e6c3e4c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.lastFitbitInputDate",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 180,
        "wires": [
            [
                "6d801e58daea5db9"
            ]
        ]
    },
    {
        "id": "7038e88c1e53057b",
        "type": "change",
        "z": "33aa24559e6c3e4c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 280,
        "wires": [
            [
                "74f71feccda72254"
            ]
        ]
    },
    {
        "id": "e7ed3e37ad241d16",
        "type": "debug",
        "z": "33aa24559e6c3e4c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1510,
        "y": 460,
        "wires": []
    },
    {
        "id": "11a3ccb54de6c582",
        "type": "function",
        "z": "33aa24559e6c3e4c",
        "name": "Build db key",
        "func": "msg.payload.key = \"fitbit-\" + msg.payload.lastFitbitInputDate;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 260,
        "wires": [
            [
                "7e47bc4b2983c043"
            ]
        ]
    },
    {
        "id": "21c35318e86fd136",
        "type": "db",
        "z": "164809fc5ff45477",
        "name": "Get Last Fitbit Input Date",
        "method": "get",
        "key": "lastFitbitInputDate",
        "keytype": "str",
        "data": "value",
        "datatype": "msg",
        "file": "db.json",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "5ae44c60f868e6ad"
            ]
        ]
    },
    {
        "id": "aeaff6f2d37ba0dd",
        "type": "db",
        "z": "164809fc5ff45477",
        "name": "Get Last Fitbit Input Data",
        "method": "get",
        "key": "payload.key",
        "keytype": "msg",
        "data": "value",
        "datatype": "msg",
        "file": "db.json",
        "x": 670,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "5ae44c60f868e6ad",
        "type": "function",
        "z": "164809fc5ff45477",
        "name": "Build db key",
        "func": "msg.payload.key = \"fitbit-\" + msg.payload.data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 80,
        "wires": [
            [
                "aeaff6f2d37ba0dd"
            ]
        ]
    },
    {
        "id": "010bd754a579d93c",
        "type": "inject",
        "z": "3f20528a8d718270",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "332c5794af56550a"
            ]
        ]
    },
    {
        "id": "d8b5644a6d88d506",
        "type": "debug",
        "z": "3f20528a8d718270",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 300,
        "wires": []
    },
    {
        "id": "332c5794af56550a",
        "type": "http request",
        "z": "3f20528a8d718270",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "e7dfa06d18e5b8ee"
            ]
        ]
    },
    {
        "id": "e7dfa06d18e5b8ee",
        "type": "csv",
        "z": "3f20528a8d718270",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 570,
        "y": 300,
        "wires": [
            [
                "034399d73729491a",
                "49399f93c5b3be2d"
            ]
        ]
    },
    {
        "id": "034399d73729491a",
        "type": "switch",
        "z": "3f20528a8d718270",
        "name": "",
        "property": "payload.mag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "7",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 380,
        "wires": [
            [
                "c58df3f6cc32927a"
            ]
        ]
    },
    {
        "id": "c58df3f6cc32927a",
        "type": "change",
        "z": "3f20528a8d718270",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PANIC!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 380,
        "wires": [
            [
                "d8b5644a6d88d506"
            ]
        ]
    },
    {
        "id": "49399f93c5b3be2d",
        "type": "debug",
        "z": "3f20528a8d718270",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "c04d8b9781e004d6",
        "type": "http in",
        "z": "c87be7c6b459b35e",
        "name": "[POST] Input data from fitbit watch",
        "url": "/fitbit",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "3acb87346ff4d10e"
            ]
        ]
    },
    {
        "id": "c9845f79e560d197",
        "type": "db",
        "z": "c87be7c6b459b35e",
        "name": "Check if we have the last fitbit data in db",
        "method": "has",
        "key": "payload.lastFitbitInputDate",
        "keytype": "msg",
        "data": "value",
        "datatype": "msg",
        "file": "db.json",
        "x": 1100,
        "y": 340,
        "wires": [
            [
                "350f0a4b355822aa"
            ]
        ]
    },
    {
        "id": "b63cecd3b75f765b",
        "type": "switch",
        "z": "c87be7c6b459b35e",
        "name": "If there is last fitbit data in db",
        "property": "payload.data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 480,
        "y": 440,
        "wires": [
            [
                "1fe3d29ccc4d9b7f"
            ],
            [
                "dda4374879c8ce7e"
            ]
        ]
    },
    {
        "id": "eb975f267cde94e5",
        "type": "db",
        "z": "c87be7c6b459b35e",
        "name": "Get fitbit last data",
        "method": "get",
        "key": "payload.lastFitbitInputDate",
        "keytype": "msg",
        "data": "value",
        "datatype": "msg",
        "file": "db.json",
        "x": 910,
        "y": 420,
        "wires": [
            [
                "0476adc552bb2e77"
            ]
        ]
    },
    {
        "id": "dda4374879c8ce7e",
        "type": "change",
        "z": "c87be7c6b459b35e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.data",
                "pt": "msg",
                "to": "{\"status\":\"\",\"location\":{\"latitude\":\"\",\"longitude\":\"\"},\"presence\":false,\"acceleration\":{\"x\":\"\",\"y\":\"\",\"z\":\"\"},\"lastSyncTime\":\"\",\"heartRate\":\"\",\"batteryLevel\":\"\",\"charge\":\"\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 480,
        "wires": [
            [
                "0476adc552bb2e77"
            ]
        ]
    },
    {
        "id": "0476adc552bb2e77",
        "type": "function",
        "z": "c87be7c6b459b35e",
        "name": "Fitbit Data Aggregation",
        "func": "let input = msg.payload.input;\nlet data = msg.payload.data;\n\nif (input.hasOwnProperty(\"status\")) {\n    data.status = input.status;\n} else if (input.hasOwnProperty(\"location\")) {\n    data.location.latitude = input.location.latitude;\n    data.location.longitude = input.location.longitude;\n} else if (input.hasOwnProperty(\"presence\")) {\n    data.presence = input.presence;\n} else if (input.hasOwnProperty(\"acceleration\")) {\n    data.acceleration.x = input.acceleration.x;\n    data.acceleration.y = input.acceleration.y;\n    data.acceleration.z = input.acceleration.z;\n} else if (input.hasOwnProperty(\"lastSyncTime\")) {\n    data.lastSyncTime = input.lastSyncTime;\n} else if (input.hasOwnProperty(\"heartRate\")) {\n    data.heartRate = input.heartRate;\n} else if (input.hasOwnProperty(\"batteryLevel\")) {\n    data.batteryLevel = input.batteryLevel;\n} else if (input.hasOwnProperty(\"charge\")) {\n    data.charge = input.charge;\n}\n\ndata.timestamp = msg.payload.time;\nmsg.payload.data = data; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 440,
        "wires": [
            [
                "10baa245ae461ebd"
            ]
        ]
    },
    {
        "id": "9a6fdd178b3a5ab8",
        "type": "db",
        "z": "c87be7c6b459b35e",
        "name": "Push last fitbit input date",
        "method": "set",
        "key": "lastFitbitInputDate",
        "keytype": "str",
        "data": "payload.time",
        "datatype": "msg",
        "file": "db.json",
        "x": 970,
        "y": 560,
        "wires": [
            [
                "2880384ff2b336ad"
            ]
        ]
    },
    {
        "id": "c4a67a340c7b05b7",
        "type": "db",
        "z": "c87be7c6b459b35e",
        "name": "Get fitbit last input date",
        "method": "get",
        "key": "lastFitbitInputDate",
        "keytype": "str",
        "data": "value",
        "datatype": "msg",
        "file": "db.json",
        "x": 460,
        "y": 340,
        "wires": [
            [
                "e9a4b93bc3922fe4"
            ]
        ]
    },
    {
        "id": "b34621dc4b69d4a6",
        "type": "catch",
        "z": "c87be7c6b459b35e",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 120,
        "y": 680,
        "wires": [
            [
                "1e0df8e2d9470702"
            ]
        ]
    },
    {
        "id": "1e0df8e2d9470702",
        "type": "debug",
        "z": "c87be7c6b459b35e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 680,
        "wires": []
    },
    {
        "id": "10baa245ae461ebd",
        "type": "function",
        "z": "c87be7c6b459b35e",
        "name": "Build db key",
        "func": "msg.payload.key = \"fitbit-\" + msg.payload.time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 440,
        "wires": [
            [
                "0118775c9eef40ed"
            ]
        ]
    },
    {
        "id": "0118775c9eef40ed",
        "type": "db",
        "z": "c87be7c6b459b35e",
        "name": "Push data to db",
        "method": "set",
        "key": "payload.key",
        "keytype": "msg",
        "data": "payload.data",
        "datatype": "msg",
        "file": "db.json",
        "x": 720,
        "y": 560,
        "wires": [
            [
                "9a6fdd178b3a5ab8"
            ]
        ]
    },
    {
        "id": "2880384ff2b336ad",
        "type": "template",
        "z": "c87be7c6b459b35e",
        "name": "Build response",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"received\": \"true\"\n}",
        "output": "json",
        "x": 1220,
        "y": 560,
        "wires": [
            [
                "5f76368392df4382",
                "874c7ef898d450b8"
            ]
        ]
    },
    {
        "id": "5f76368392df4382",
        "type": "http response",
        "z": "c87be7c6b459b35e",
        "name": "Response to fitbit data",
        "statusCode": "200",
        "headers": {},
        "x": 1460,
        "y": 560,
        "wires": []
    },
    {
        "id": "3acb87346ff4d10e",
        "type": "change",
        "z": "c87be7c6b459b35e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.input",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 340,
        "wires": [
            [
                "c4a67a340c7b05b7"
            ]
        ]
    },
    {
        "id": "e9a4b93bc3922fe4",
        "type": "change",
        "z": "c87be7c6b459b35e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.lastFitbitInputDate",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 340,
        "wires": [
            [
                "c9845f79e560d197"
            ]
        ]
    },
    {
        "id": "350f0a4b355822aa",
        "type": "change",
        "z": "c87be7c6b459b35e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 440,
        "wires": [
            [
                "b63cecd3b75f765b"
            ]
        ]
    },
    {
        "id": "874c7ef898d450b8",
        "type": "debug",
        "z": "c87be7c6b459b35e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 620,
        "wires": []
    },
    {
        "id": "1fe3d29ccc4d9b7f",
        "type": "function",
        "z": "c87be7c6b459b35e",
        "name": "Build db key",
        "func": "msg.payload.key = \"fitbit-\" + msg.payload.lastFitbitInputDate;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 420,
        "wires": [
            [
                "eb975f267cde94e5"
            ]
        ]
    },
    {
        "id": "08d248fb8d675df0",
        "type": "wemo in",
        "z": "6ba4e7447d177c6e",
        "d": true,
        "name": "",
        "topic": "wemo",
        "device": "ea2b7e9ceba3bcf4",
        "label": "Concordia",
        "x": 360,
        "y": 340,
        "wires": [
            [
                "c6230317c80d61e9"
            ]
        ]
    },
    {
        "id": "c6230317c80d61e9",
        "type": "debug",
        "z": "6ba4e7447d177c6e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "7d9f42ed42e9491c",
        "type": "wemo out",
        "z": "6ba4e7447d177c6e",
        "name": "",
        "device": "ea2b7e9ceba3bcf4",
        "label": "Concordia",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "30cd3b745ed9fc92",
        "type": "template",
        "z": "6ba4e7447d177c6e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "on",
        "output": "str",
        "x": 420,
        "y": 440,
        "wires": [
            [
                "7d9f42ed42e9491c"
            ]
        ]
    },
    {
        "id": "347641b19726a149",
        "type": "inject",
        "z": "6ba4e7447d177c6e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 440,
        "wires": [
            [
                "30cd3b745ed9fc92"
            ]
        ]
    },
    {
        "id": "92cab7d271d8ea7f",
        "type": "change",
        "z": "421506f464550bd2",
        "name": "Wemo State Boolean Conversion",
        "rules": [
            {
                "t": "change",
                "p": "payload.state",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload.state",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 260,
        "wires": [
            [
                "e80fd60eb55be605"
            ]
        ]
    },
    {
        "id": "2f1855a4d87631a0",
        "type": "template",
        "z": "421506f464550bd2",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"wemo\": {{payload.state}},\n    \"fibit-presence\": {{payload.data.presence}}\n}",
        "output": "json",
        "x": 400,
        "y": 420,
        "wires": [
            [
                "2e5cb422354fcf62"
            ]
        ]
    },
    {
        "id": "d5a8488a87ec9af9",
        "type": "wemo lookup",
        "z": "421506f464550bd2",
        "name": "",
        "device": "ea2b7e9ceba3bcf4",
        "label": "Concordia",
        "x": 410,
        "y": 180,
        "wires": [
            [
                "92cab7d271d8ea7f"
            ]
        ]
    },
    {
        "id": "e82fba4d43748ddc",
        "type": "inject",
        "z": "421506f464550bd2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "d5a8488a87ec9af9"
            ]
        ]
    },
    {
        "id": "fe9b9cecebc87349",
        "type": "db",
        "z": "421506f464550bd2",
        "name": "Push final state in db",
        "method": "set",
        "key": "yann-state",
        "keytype": "str",
        "data": "payload",
        "datatype": "msg",
        "file": "db.json",
        "x": 620,
        "y": 500,
        "wires": [
            [
                "b1bd4cb62b13a67a"
            ]
        ]
    },
    {
        "id": "b1bd4cb62b13a67a",
        "type": "debug",
        "z": "421506f464550bd2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 500,
        "wires": []
    },
    {
        "id": "2e5cb422354fcf62",
        "type": "function",
        "z": "421506f464550bd2",
        "name": "",
        "func": "if (msg.payload.wemo == msg.payload[\"fitbit-presence\"]) {\n    msg.payload.final = true;\n}\nmsg.payload.final = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 500,
        "wires": [
            [
                "fe9b9cecebc87349"
            ]
        ]
    },
    {
        "id": "9de211122347959d",
        "type": "inject",
        "z": "421506f464550bd2",
        "name": "Shudown wemo at midnigth everyday",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 660,
        "wires": [
            [
                "18a87939757c2114"
            ]
        ]
    },
    {
        "id": "a72ffd237ae67405",
        "type": "wemo out",
        "z": "421506f464550bd2",
        "name": "",
        "device": "ea2b7e9ceba3bcf4",
        "label": "Concordia",
        "x": 770,
        "y": 660,
        "wires": []
    },
    {
        "id": "18a87939757c2114",
        "type": "template",
        "z": "421506f464550bd2",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "on",
        "output": "str",
        "x": 580,
        "y": 660,
        "wires": [
            [
                "a72ffd237ae67405"
            ]
        ]
    },
    {
        "id": "21c4f77aab83fcec",
        "type": "subflow:33aa24559e6c3e4c",
        "z": "421506f464550bd2",
        "name": "Collect Fitbit Data",
        "x": 220,
        "y": 580,
        "wires": []
    },
    {
        "id": "e80fd60eb55be605",
        "type": "subflow:164809fc5ff45477",
        "z": "421506f464550bd2",
        "name": "Get Fitbit Profile",
        "x": 420,
        "y": 340,
        "wires": [
            [
                "2f1855a4d87631a0"
            ]
        ]
    }
]